<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>aiueo</title>
  </head>
  <body>
    <h1>GitHub Login</h1>
    <a
      href="https://github.com/login/oauth/authorize?login=grass-app&client_id=6275811b400983aaba52&redirect_uri=http://localhost:8080/github/callback"
      >Github IDでログイン</a
    >
  </body>
</html>
